@import "bourbon/bourbon";

*, 
*::before, 
*::after {
  @include box-sizing(border-box);
}

html, 
body {
  margin: 0;
  height: 100%;
  width: 100%;
}

.container {
  @include clearfix;
/*  // Code goes here*/
  clear: both;
  max-width: 960px;
  margin: 0 auto;
}

[class*='col-']:last-of-type {
  margin-right: 0;
}
[class*='col-']{
  margin-top: 20px;
}

/* COULDNT GET MIXIN TO WORK */
@mixin margins {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
}

.col-half {
/*  // Code goes here*/
  background-color: blue;
/* COULDNT GET MIXIN TO WORK */
  @include margins;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 100px;
  width: 48.7%;
}

.col-third {
/*  // Code goes here*/
  background-color: red;
  @include margins;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 100px;
  width: 31.6%;
}

.col-fourth {
/*  // Code goes here*/
  background-color: yellow;
  @include margins;
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  height: 100px;
  width: 23.1%;
}


@media (max-width: 960px) {
  .col-half, .col-third, .col-fourth {
    display: block;
    width: 100%;
  }
}